h1{color: blue;font-size: 20px; width: 400px; text-align: center; font-weight: bold;}
h2{color: blue; font-size: 15px; width: 400px; text-align: center; font-weight: bold;}
p{ width: 400px; text-align: justify;}
h3{color: blue;  width: 400px; text-align: center; font-weight: bold;}
.changecolor{color: red;}
.dvigok{color: red;}
.changecolor{color: red;}
/.changecolor{color: red;}
.shrifti{color: blue; font-style: italic;}
/.shrifti{color: blue; font-style: italic;}
.joomla{font-style: italic;}