h1{font-weight:bold; width: 300px; text-align: center;}
.evro{width: 25px;height: 25px;}
.E{font-weight: bold;}
.dollar{width: 25px; height: 25px;}
.dollar2{font-weight: bold;}
.funt{width: 25px;height: 25px;}
.funt2{font-weight: bold;}
.iena{width: 25px;height: 25px;}
.iena2{font-weight: bold;}
.lary{width: 25px;height: 25px;}
.lary2{font-weight: bold;}
.foto1{width: 20px;height: 20px;}
.foto2{width: 20px;height: 20px;}
.dollar3{width: 15px; height: 15px;}
.evro3{width: 15px;height: 15px;}
.evro4{width:15px; height: 15px;}
.Eng{width: 25px; height: 25px;}
.table{border:solid grey;} tr, th, td{border: 3px solid grey; }
.evrozona3{width: 20px;height: 20px;}
.Funt{width: 20px; height: 20px;}
.evro6{width: 20px; height: 20px;}
.Japen{width: 20px; height: 20px;}
.evrozona4{width: 20px; height: 20px;}
.iena4{width: 20px;height: 20px;}
.evrozona5{width: 20px; height: 20px;}
.Gruzia{width: 20px;height: 20px;}

