.container{margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;}
    .bode{padding: 10px;}
    .square1{
      width: 100px;
      height: 100px;
      background-color: rgb(250, 112, 112);
      margin: 0 auto;
    position: absolute;
    z-index: 2;}
    .square2{
      display: block;
      width: 100px;
      height: 100px;
      background-color: rgb(129, 131, 241);
    position: relative;
    left: 60px;
    top: 60px;
    z-index: 1;
    
    }
       
      .square3{
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: rgb(77, 235, 77);
        position: absolute;
        left: 120px;
        top: 120px;
        
      }