.blok1{border: 100px solid rgb(231, 138, 104);  } 
h1{color: blue; font-size: 50px; text-align: center;}
.blok2{border: 100px solid blueviolet;}
.blok3{ border:100px solid orange ;}
.text1{color: blue; font: size 15px; width: 400px;text-align: left;}
,H2{text-align: center; color: blue;}
.text2{color: blue; text-align: left;}
.text3{color: blue; text-align: left;}
.girl{width: 200px; height: 150px;}
.family{width: 200px; height: 150px;}
.logo{width: 50px;text-align: center;}
.blok4{border: white; text-align: center;}